<div class="mypage-edit">
  <%= form_with model: @customer, url: customers_path, local:true do |f| %>
    <table>
      <tr>
        <th class="mypage-edit__content">氏名</th>
        <td><%= f.text_field :first_name %> <%= f.text_field :last_name %></td>
      </tr>
      <tr>
        <th class="mypage-edit__content">カナ</th>
        <td><%= f.text_field :first_name_kana %> <%= f.text_field :last_name_kana %></td>
      </tr>
      <tr>
        <th class="mypage-edit__content">郵便番号</th>
        <td><%= f.text_field :postal_code %></td>
      </tr>
      <tr>
        <th class="mypage-edit__content">住所</th>
        <td><%= f.text_field :address, class: "mypage-edit__content--address-form" %></td>
      </tr>
      <tr>
        <th class="mypage-edit__content">電話番号</th>
        <td><%= f.text_field :telephone_number %></td>
      </tr>
      <tr>
        <th class="mypage-edit__content">メールアドレス</th>
        <td><%= f.email_field :email %></td>
      </tr>
    </table>
    <div class="mypage-edit__action">
      <%= f.submit "保存", class: "mypage-edit__action--btn" %>
    </div>
  <% end %>
</div>


