<div class="mypage">
    <div class="mypage__content">
        <h3 class="mypage__content--item">登録情報</h3>
        <div class="mypage__content--action"><%= link_to "編集", edit_customers_path %></div>
        <div class="mypage__content--action"><%= link_to "退会", customers_confirm_path %></div>
    </div>
    <table class="mypage__list">
        <tr>
            <th class="mypage__list--item">氏名</th>
            <td class="mypage__list--content"><%= @customer.first_name %> <%= @customer.last_name %></td>
        </tr>
        <tr>
            <th class="mypage__list--item">カナ</th>
            <td class="mypage__list--content"><%= @customer.first_name_kana %> <%= @customer.last_name_kana %></td>
        </tr>
        <tr>
            <th class="mypage__list--item">郵便番号</th>
            <td class="mypage__list--content"><%= @customer.postal_code %></td>
        </tr>
        <tr>
            <th class="mypage__list--item">住所</th>
            <td class="mypage__list--content"><%= @customer.address %></td>
        </tr>
        <tr>
            <th class="mypage__list--item">電話番号</th>
            <td class="mypage__list--content"><%= @customer.telephone_number %></td>
        </tr>
        <tr>
            <th class="mypage__list--item">メールアドレス</th>
            <td class="mypage__list--content"><%= @customer.email %></td>
        </tr>
    </table>
    <div class="mypage__content">
        <h3 class="mypage__contnt--item">配送先</h3>
        <div class="mypage__content--action"><%= link_to "一覧へ", addresses_path %></div>
    </div>
    <div class="mypage__content">
        <h3 class="mypage__content--item">注文履歴</h3>
        <div class="mypage__content--action"><%= link_to "一覧へ", orders_path %></div>
    </div>
</div>

