<%= render "customers/shared/error_messages", resource: resource %>
<div class="sing_up">
  <h2 class="sign_up__title">新規会員登録</h2>
  <%= form_with model:@customer, url: customer_registration_path, local: true do |f| %>
    <table class="sign_up__list">
      <tr>
        <th class="sign_up__list--item">名前</th>
        <td>姓　：<%= f.text_field :first_name %></td>
        <td>名　：<%= f.text_field :last_name %></td>
      </tr>
      <tr>
        <th class="sign_up__list--item">フリガナ</th>
        <td>セイ：<%= f.text_field :first_name_kana %></td>
        <td>メイ：<%= f.text_field :last_name_kana %></td>
      </tr>
      <tr>
        <th class="sign_up__list--item">郵便番号</th>
        <td><%= f.text_field :postal_code %></td>
      </tr>
      <tr>
        <th class="sign_up__list--item">住所</th>
        <td><%= f.text_field :address %></td>
      </tr>
      <tr>
        <th class="sign_up__list--item">電話番号</th>
        <td><%= f.telephone_field :telephone_number %></td>
      </tr>
      <tr>
        <th class="sign_up__list--item">メールアドレス</th>
        <td><%= f.email_field :email %></td>
      </tr>
      <tr>
        <th class="sign_up__list--item">パスワード(6桁)</th>
        <td><%= f.password_field :password %></td>
      </tr>
      <tr>
        <th class="sign_up__list--item">パスワード(確認用)</th>
        <td><%= f.password_field :password_confirmation %></td>
      </tr>
    </table>
    <div class="sign_up__action">
      <%= f.submit "登録", class: "sign_up__action--btn" %>
    </div>
  <% end %>
  <h3 class="sign_up__title">登録済みの方</h3>
  <div class="sign_up__action">
    <%= link_to "こちら", new_customer_session_path %>からログインをお願い致します
  </div>
</div>


