<div class="goots-list">
  <h3><%= link_to "商品登録", new_admin_item_path %></h3>
  <div class="goots-list__item">
    <% @items.each do |item| %>
      <%= link_to admin_item_path(item.id) do %>
        <div class="goots-list__item--content">
          <div>
            <% item.item_images.first(1).each do |image| %>
              <%= attachment_image_tag image, :image, size: "350x300",format: 'jpeg' %>
            <% end %>
          </div>
          <div><%= item.name %></div>
          <div><%= item.price %>円</div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

