<div><%= link_to "一覧へ戻る", admin_items_path %></div>
<div class="item-details">
  <div>
    <div><!--選択した商品画像を表示-->
      <%= attachment_image_tag @item.item_images[0], :image, id: 'item-image', class: "item-details__item-image" %>
    </div>
    <div><!--商品画像の一覧-->
      <% @item.item_images.each do |image| %>
        <a class="item-image-mini"><%= attachment_image_tag image, :image, class: "item-details__mini-item-image" %></a>
      <% end %>
    </div>
  </div>
  <div>
    <ul class="item-details__item">
      <!--商品名-->
      <li class="item-details__item--content"><%= @item.name %></li>
      <!--商品のサイズ-->
      <li class="item-details__item--content">H :<%= @item.size_height %>cm W :<%= @item.size_width %>cm</li>
      <!--商品説明-->
      <li class="item-details__item--content"><%= @item.introduction %></li>
      <!--商品価格-->
      <li class="item-details__item--content"><%= number_to_currency(@item.price) %></li>
      <!--発送方法-->
      <li class="item-details__item--content"><%= @item.shipping_method %></li>
      <!--編集-->
      <li class="item-details__item--content"><%= link_to "編集", edit_admin_item_path %></li>
    </ul>
  </div>
</div>

<%= javascript_include_tag 'public/items' %>