<div class="top_page">
  <% @items.each do |item| %>
    <div class="top_page--list">
      <%= link_to item_path(item.id) do %>
        <div>
          <% item.item_images.first(1).each do |image| %>
            <%= attachment_image_tag image, :image, class: "top_page--list__item-image" %>
          <% end %>
        </div>
      <% end %>
      <div><%= item.name %></div>
      <div>
        <% if item.order_details.present? %>
          <p><%= number_to_currency(item.price) %> Sold Out!!</p>
        <% else %>
          <%= number_to_currency(item.price) %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
