<div class="customer-edit">
  <h2><%= @customer.first_name %> <%= @customer.last_name %>さん</h2>
  <div>
    <%= form_with model:@customer, url: admin_customer_path, local: true do |f| %>
      <table class="customer-edit__list">
        <tr>
          <th class="customer-edit__list--item">会員ID</th>
          <td class="customer-edit__list--content"><%= @customer.id %></td>
        </tr>
        <tr>
          <th class="customer-edit__list--item">氏名</th>
          <td class="customer-edit__list--content"><%= f.text_field :first_name %> <%= f.text_field :last_name %></td>
        </tr>
        <tr>
          <th class="customer-edit__list--item">フリガナ</th>
          <td class="customer-edit__list--content"><%= f.text_field :first_name_kana %> <%= f.text_field :last_name_kana %></td>
        </tr>
        <tr>
          <th class="customer-edit__list--item">郵便番号</th>
          <td class="customer-edit__list--content"><%= f.text_field :postal_code %></td>
        </tr>
        <tr>
          <th class="customer-edit__list--item">住所</th>
          <td class="customer-edit__list--content"><%= f.text_field :address, class: "customer-edit__list--entry-field" %></td>
        </tr>
        <tr>
          <th class="customer-edit__list--item">電話番号</th>
          <td class="customer-edit__list--content"><%= f.text_field :telephone_number %></td>
        </tr>
        <tr>
          <th class="customer-edit__list--item">メールアドレス</th>
          <td class="customer-edit__list--content"><%= f.email_field :email, class: "customer-edit__list--entry-field" %></td>
        </tr>
        <tr>
          <th class="customer-edit__list--item">ステータス</th>
          <td class="customer-edit__list--content"><%= f.radio_button :is_member, true %>有効 <%= f.radio_button :is_member, false %>無効</td>
        </tr>
      </table>
      <div class="customer-edit__action"><%= f.submit "更新", class: "customer-edit__action--item" %></div>
    <% end %>
  </div>
</div>

