<table class="customer-list">
  <thead>
    <tr>
      <th class="customer-list__customer-title">会員ID</th>
      <th class="customer-list__customer-title">氏名</th>
      <th class="customer-list__customer-title">メールアドレス</th>
      <th class="customer-list__customer-title">ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td class="customer-list__customer-content"><%= customer.id %></td>
        <td class="customer-list__customer-content">
          <%= link_to admin_customer_path(customer.id) do %>
            <%= customer.first_name %><%= customer.last_name %>
          <% end %>
        </td>
        <td class="customer-list__customer-content"><%= customer.email %></td>
        <td class="customer-list__customer-content">
          <% if customer.is_member %>
            有効
          <% else %>
            無効
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

