<div class="customer-details">
  <h2><%= @customer.first_name %> <%= @customer.last_name %>さん</h2>
  <table>
    <tr>
      <th class="customer-details__item">会員ID</th>
      <td class="customer-details__content"><%= @customer.id %></td>
    </tr>
    <tr>
      <th class="customer-details__item">氏名</th>
      <td class="customer-details__content"><%= @customer.first_name %> <%= @customer.last_name %></td>
    </tr>
    <tr>
      <th class="customer-details__item">フリガナ</th>
      <td class="customer-details__content"><%= @customer.first_name_kana %> <%= @customer.last_name_kana %></td>
    </tr>
    <tr>
      <th class="customer-details__item">郵便番号</th>
      <td class="customer-details__content"><%= @customer.postal_code %></td>
    </tr>
    <tr>
      <th class="customer-details__item">住所</th>
      <td class="customer-details__content"><%= @customer.address %></td>
    </tr>
    <tr>
      <th class="customer-details__item">電話番号</th>
      <td class="customer-details__content"><%= @customer.telephone_number %></td>
    </tr>
    <tr>
      <th class="customer-details__item">メールアドレス</th>
      <td class="customer-details__content"><%= @customer.email %></td>
    </tr>
    <tr>
      <th class="customer-details__item">ステータス</th>
      <td class="customer-details__content">
        <% if @customer.is_member %>
          <p class="customer-details__content--font-green">有効</p>
        <% else %>
          <p class="customer-details__content--font-gray">無効</p>
        <% end %>
      </td>
    </tr>
  </table>
  <div class="customer-details__action">
    <div class="customer-details__action--item"><%= link_to "編集", edit_admin_customer_path(@customer), class: "customer-details__action--btn" %></div>
    <div class="customer-details__action--item">
      <!--注文履歴があればリンクの表示,ない場合はリンクなし-->
      <% if @customer.orders.present? %>
        <%= link_to "注文履歴を見る", admin_order_path, class: "customer-details__action--btn" %>
      <% else %>
        <p class="customer-details__action--btn">注文履歴なし</p>
      <% end %>
    </div>
  </div>
</div>
