<h1>注文履歴詳細</h1>

<table>
  <tbody>
    <tr>
      <th>購入者</th>
      <td><%= @order.customer.first_name %> <%= @order.customer.last_name %></td>
    </tr>
    <tr>
      <th>注文日</th>
      <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
    </tr>
    <tr>
      <th>配送先</th>
      <td>
        <%= @order.postal_code %>
        <%= @order.address %>
        <%= @order.name %>
      </td>
    </tr>
    <tr>
      <th>支払方法</th>
      <td><%= @order.payment_method %></td>
    </tr>
    <tr>
      <%= form_with model: @order, url: admin_order_path, local:true do |f| %>
        <th>注文ステータス</th>
        <td><%= f.select :status, Order.statuses.keys.to_a,{} %></td>
        <td><%= f.submit "更新" %></td>
      <% end %>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>税込価格</th>
    </tr>
  </thead>
  <tbody>
    <% @sum = 0 %>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.item.name %></td>
        <td><%= order.price %></td>
      </tr>
    <% @sum += order.price %>
    <% end %>
  </tbody>
</table>

<table>
  <tbody>
    <tr>
      <th>商品合計</th>
      <td><%= @sum %></td>
    </tr>
    <tr>
      <th>送料</th>
      <td><%= @order.shipping_cost %></td>
    </tr>
    <tr>
      <th>請求金額</th>
      <td><%= @order.total_payment = @sum + @order.shipping_cost %></td>
    </tr>
  </tbody>
</table>
