<div class="order-details">
  <div class="order-details__buyer">
    <table>
      <tr>
        <th class="order-details__buyer--item">購入者</th>
        <td class="order-details__buyer--item-content"><%= @order.customer.first_name %> <%= @order.customer.last_name %></td>
      </tr>
      <tr>
        <th class="order-details__buyer--item">注文日</th>
        <td class="order-details__buyer--item-content"><%= @order.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
      <tr>
        <th class="order-details__buyer--item">配送先</th>
        <td class="order-details__buyer--item-content">
          <%= @order.postal_code %><br>
          <%= @order.address %><br>
          <%= @order.name %>
        </td>
      </tr>
      <tr>
        <th class="order-details__buyer--item">支払方法</th>
        <td class="order-details__buyer--item-content"><%= @order.payment_method %></td>
      </tr>
      <tr>
        <th class="order-details__buyer--item">注文ステータス</th>
        <td class="order-details__buyer--item-content">
          <%= form_with model: @order, url: admin_order_path, local:true do |f| %>
            <%= f.select :status, Order.statuses.keys.to_a,{} %><!--ステータスを表示させる-->
            <%= f.submit "更新" %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  <div class="order-details__order-list">
    <div>
      <table>
        <thead>
          <tr>
            <th class="order-details__order-list--name">商品名</th>
            <th class="order-details__order-list--price">税込価格</th>
          </tr>
        </thead>
        <tbody>
          <% @sum = 0 %>
          <% @orders.each do |order| %>
            <tr>
              <!--商品名-->
              <td class="order-details__order-list--content"><%= order.item.name %></td>
              <!--税込価格-->
              <td class="order-details__order-list--content"><%= number_to_currency(order.price) %></td>
            </tr>
          <% @sum += order.price %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div>
      <table class="order-details__price">
        <tr>
          <th class="order-details__price--item">商品合計</th>
          <td class="order-details__price--content"><%= number_to_currency(@sum) %></td>
        </tr>
        <tr>
          <th class="order-details__price--item">送料</th>
          <td class="order-details__price--content"><%= number_to_currency(@order.shipping_cost) %></td>
        </tr>
        <tr>
          <th class="order-details__price--item">請求金額</th>
          <td class="order-details__price--content"><%= number_to_currency(@order.total_payment = @sum + @order.shipping_cost) %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

