<div class="order-list">
  <h2>注文履歴一覧</h2>
  <table class="order-list__list">
    <thead>
      <tr>
        <th class="order-list__list--item">購入日時</th>
        <th class="order-list__list--item">氏名</th>
        <th class="order-list__list--item">注文ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td class="order-list__list--content">
            <%= link_to admin_order_path(order.id) do %>
              <%= order.created_at.strftime('%Y/%m/%d %H:%M') %>
            <% end %>
          </td>
          <td class="order-list__list--content"><%= order.customer.first_name %> <%= order.customer.last_name %></td>
          <td class="order-list__list--content"><%= order.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

