<div class="order-list">
  <h2>注文履歴一覧</h2>
  <table>
    <thead>
      <tr>
        <th class="order-list__item">購入日時</th>
        <th class="order-list__item">氏名</th>
        <th class="order-list__item">注文ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %><!--全てのorderを表示-->
        <tr>
          <!--購入日時-->
          <td class="order-list__content">
            <%= link_to admin_order_path(order.id) do %>
              <%= order.created_at.strftime('%Y/%m/%d %H:%M') %>
            <% end %>
          </td>
          <!--氏名-->
          <td class="order-list__content"><%= order.customer.first_name %> <%= order.customer.last_name %></td>
          <!--注文ステータス-->
          <td class="order-list__content"><%= order.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

