<div class="address-edit">
  <h2>配送先編集</h2>
  <%= form_with model: @address, url: address_path, local:true do |f| %>
    <table class="address-edit__edit">
      <tr>
        <th class="address-edit__edit--item">郵便番号(ハイフンなし)</th>
        <td><%= f.text_field :postal_code %></td>
      </tr>
      <tr>
        <th class="address-edit__edit--item">住所</th>
        <td><%= f.text_field :address, class: "address-edit__edit--address-form" %></td>
      </tr>
      <tr>
        <th class="address-edit__edit--item">宛名</th>
        <td><%= f.text_field :name %></td>
      </tr>
    </table>
    <div class="address-edit__action"><%= f.submit %></div>
  <% end %>
</div>
