<div class="address-list">
  <h2>配送先登録/一覧</h2>
  <%= form_with model: @address, url: addresses_path, local:true do |f| %>
    <table class="address-list__registration">
      <tr>
        <th class="address-list__registration--item">郵便番号(ハイフンなし)</th>
        <td><%= f.text_field :postal_code %></td>
      </tr>
      <tr>
        <th class="address-list__registration--item">住所</th>
        <td><%= f.text_field :address, class: "address-list__registration--address-form" %></td>
      </tr>
      <tr>
        <th class="address-list__registration--item">宛名</th>
        <td><%= f.text_field :name %></td>
      </tr>
    </table>
    <div class="address-list__action"><%= f.submit %></div>
  <% end %>

  <table class="address-list__list">
    <thead>
      <tr>
        <th class="address-list__list--postal_code">郵便番号</th>
        <th class="address-list__list--address">住所</th>
        <th class="address-list__list--name">宛名</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @addresses.each do |address| %>
        <tr>
          <!--郵便番号-->
          <td><%= address.postal_code %></td>
          <!--住所-->
          <td><%= address.address %></td>
          <!--宛名-->
          <td><%= address.name %></td>
          <td>
            <%= link_to "編集", edit_address_path(address.id), class: "address-list__btn" %>
            <%= link_to "削除", address_path(address.id), method: :delete, class: "address-list__btn" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

