<h1>配送先登録/一覧</h1>

<%= form_with model: @address, url: addresses_path, local:true do |f| %>
  <table>
    <tbody>
      <tr>
        <th>郵便番号(ハイフンなし)</th>
        <td><%= f.text_field :postal_code %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= f.text_field :address %></td>
      </tr>
      <tr>
        <th>宛名</th>
        <td><%= f.text_field :name %></td>
      </tr>
    </tbody>
  </table>
  <%= f.submit "登録" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.postal_code %></td>
        <td><%= address.address %></td>
        <td><%= address.name %></td>
        <td>
          <%= link_to "編集", edit_address_path(address.id) %>
          <%= link_to "削除", address_path(address.id), method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
