
<div class="favorite-list">
  <% @favorites.each do |favorite| %>
    <div class="favorite-item">
      <div class="favorite-item-image">
        <% favorite.item.item_images.first(1).each do |image| %>
          <%= attachment_image_tag image, :image, size: "250x250" %>
        <% end %>
      </div>
      <div class="favorite-item-content"><%= favorite.item.name %></div>
      <div class="favorite-item-content">H : <%= favorite.item.size_height %> W : <%= favorite.item.size_width %></div>
      <div class="favorite-item-content">¥<%= favorite.item.price %></div>
      <div class="favorite-item-content"><%= link_to "お気に入り削除", favorite_path(favorite.id), method: :delete %></div>
    </div>
  <% end %>
</div>
