<h2 class="title">ログイン</h2>

  <%= form_with model:@admin, url: admin_session_path, local: true do |f| %>
    <table class="list">
      <tbody>
        <tr>
          <th class="list-title">名前</th>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <th class="list-title">メールアドレス</th>
          <td><%= f.email_field :email %></td>
        </tr>
        <tr>
          <th class="list-title">パスワード</th>
          <td><%= f.password_field :password %></td>
        </tr>
      </tbody>
    </table>

    <div class="actions">
      <%= f.submit "ログイン", class: "action" %>
    </div>
  <% end %>
</div>
