<div class="order-confirm">
  <div class="order-confirm__order">
    <table>
      <thead>
        <tr>
          <th class="order-confirm__order--name">商品名</th>
          <th class="order-confirm__order--size">サイズ</th>
          <th class="order-confirm__order--price">税込価格</th>
        </tr>
      </thead>
      <tbody>
        <% @sum = 0 %>
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td class="order-confirm__order--name-content"><%= cart_item.item.name %></td>
            <td class="order-confirm__order--size-content">
              H:<%= cart_item.item.size_height %>cm<br>
              W:<%= cart_item.item.size_width %>cm
            </td>
            <td class="order-confirm__order--price-content">¥<%= cart_item.item.price %></td>
          </tr>
        <% @sum += cart_item.item.price %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div>
    <table>
      <tr>
        <th class="order-confirm__payment">商品合計</th>
        <td class="order-confirm__payment--content">¥<%= @sum %></td>
      </tr>
      <tr>
        <th class="order-confirm__payment">送料</th>
        <td class="order-confirm__payment--content">¥<%= @order.shipping_cost %></td>
      </tr>
      <tr>
        <th class="order-confirm__payment">請求金額</th>
        <td class="order-confirm__payment--content">¥<%= @order.total_payment = @sum + @order.shipping_cost %></td>
      </tr>
    </table>
  </div>
</div>


<%= form_with model: @order, url: orders_path, local:true do |f| %>
  <div class="order-confirm">
    <%= f.hidden_field :postal_code, value: @order.postal_code %>
    <%= f.hidden_field :address, value: @order.address %>
    <%= f.hidden_field :name, value: @order.name %>
    <%= f.hidden_field :shipping_cost, value: @order.shipping_cost %>
    <%= f.hidden_field :total_payment, value: @order.total_payment %>
    <%= f.hidden_field :payment_method, value: @order.payment_method %>
    <div class=confirm-payment_method>
      <h2>支払方法</h2>
      <%= @order.payment_method %>
    </div>
    <div class="confirm-address">
      <h2>お届け先</h2>
      〒<%= @order.postal_code %><br>
      <%= @order.address %> <%= @order.name %>
    </div>
  </div>
  <div class="order-confirm-action"><%= f.submit "購入する" %></div>
<% end %>


