
<table class="order_histry">
  <thead>
    <tr>
      <th class="order_histry__date">注文日</th>
      <th class="order_histry__item">注文商品</th>
      <th class="order_histry__price">支払金額</th>
      <th class="order_histry__status">ステータス</th>
      <th class="order_histry__details"></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <!--注文日-->
        <td class="order_histry__content"><%= order.created_at.strftime('%Y/%m/%d') %></td>
        <!--注文商品名を全て表示-->
        <td class="order_histry__content">
          <% order.order_details.each do |order_detail| %>
            <%= order_detail.item.name %><br>
          <% end %>
        </td>
        <!--支払金額-->
        <td class="order_histry__content"><%= number_to_currency(order.total_payment) %></td>
        <!--ステータス-->
        <td class="order_histry__content"><%= order.status %></td>
        <!--詳細へのリンク-->
        <td class="order_histry__content"><%= link_to "注文詳細", order_path(order.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

