<div class="order_histry_details">
  <div class="order_details">
    <h2>注文内容</h2>
    <table>
      <thead>
        <tr>
          <th class="order_details-item">商品名</th>
          <th class="order_details-size">サイズ</th>
          <th class="order_details-price">税込価格</th>
        </tr>
      </thead>
      <tbody>
          <% @sum = 0 %>
          <% @order.order_details.each do |order_detail| %>
            <tr>
              <td class="order_details-content"><%= order_detail.item.name %></td>
              <td class="order_details-content">
                H : <%= order_detail.item.size_height %>cm<br>
                W : <%= order_detail.item.size_width %>cm
              </td>
              <td class="order_details-content">¥<%= order_detail.price %></td>
            </tr>
          <% @sum += order_detail.price %>
          <% end %>
      </tbody>
    </table>
  </div>
  <div class="billing_information">
    <h2>請求情報</h2>
    <table>
      <tr>
        <th class="billing_information-list-title">商品合計</th>
        <td class="billing_information-list-content">¥<%= @sum %></td>
      </tr>
      <tr>
        <th class="billing_information-list-title">送料</th>
        <td class="billing_information-list-content">¥<%= @order.shipping_cost %></td>
      </tr>
      <tr>
        <th class="billing_information-list-title">ご請求額</th>
        <td class="billing_information-list-content">¥<%= @order.total_payment = @sum + @order.shipping_cost %></td>
      </tr>
    </table>
  </div>
</div>



<div class="order_information">
  <h2>注文情報</h2>
  <table>
    <tr>
      <th class="order_information-list-title">注文日</th>
      <td class="order_information-list-content"><%= @order.created_at.strftime('%Y/%m/%d') %></td>
    </tr>
    <tr>
      <th class="order_information-list-title">配送先</th>
      <td class="order_information-list-content">
        〒<%= @order.postal_code %><br>
        <%= @order.address %><br>
        <%= @order.name %>
      </td>
    </tr>
    <tr>
      <th class="order_information-list-title">支払方法</th>
      <td class="order_information-list-content"><%= @order.payment_method %></td>
    </tr>
    <tr>
      <th class="order_information-list-title">ステータス</th>
      <td class="order_information-list-content"><%= @order.status %></td>
    </tr>
  </table>
</div>
