<%= javascript_include_tag 'public/items' %>

<%= link_to "一覧へ戻る", root_path %>
<div class="product_details">
  <div>
    <div>
      <%= attachment_image_tag @item.item_images[0], :image, size: "500x450", id: 'item-image' %>
    </div>
    <div>
      <% @item.item_images.each do |image| %>
        <%= attachment_image_tag image, :image, size: "150x150",　format: 'jpeg' %>
      <% end %>
    </div>
  </div>
  <div>
    <div class="product_details-content"><%= @item.name %></div>
    <div class="product_details-content">H :<%= @item.size_height %> W :<%= @item.size_width %></div>
    <div class="product_details-content">
      <%= form_with model: @favorite, url: favorites_path, local:true do |f| %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.submit "お気に入り" %>
      <% end %>
    </div>
    <div class="product_details-content"><%= @item.introduction %></div>
    <div class="product_details-content"><%= @item.shipping_method %></div>
    <div class="product_details-content">
      <% if @item.order_details.present? %>
        Sold Out!!
      <% else %>
        <%= @item.price %> 円
        <%= form_with model: @cart_item, url: cart_items_path, local:true do |f| %>
          <%= f.hidden_field :item_id, :value => @item.id %>
          <%= f.submit "カートに追加" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>




