<% if customer_signed_in? %>
  <div class="header-item">
    <div class="header-item-image"><%= image_tag 'header.jpeg', :size => "500x250" %></div>
    <div>
      <ul class="header-item-list">
        <li class="header-item-list-title"><%= link_to "HOME", root_path %></li>
        <li class="header-item-list-title"><%= link_to "ABOUT", homes_about_path %></li>
        <li class="header-item-list-title"><%= link_to "マイページ", customers_path %></li>
        <li class="header-item-list-title"><%= link_to "お気に入り", favorites_path %></li>
        <li class="header-item-list-title"><%= link_to "カート", cart_items_path %></li>
        <li class="header-item-list-title"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li>
      </ul>
    </div>
  </div>
<% else %>
  <div class="header-item">
    <div class="header-item-image"><%= image_tag 'header.jpeg', :size => "500x250" %></div>
    <div>
      <ul class="header-item-list">
        <li class="header-item-list-title"><%= link_to "HOME", root_path %></li>
        <li class="header-item-list-title"><%= link_to "ABOUT", homes_about_path %></li>
        <li class="header-item-list-title"><%= link_to "ログイン", new_customer_session_path %></li>
        <li class="header-item-list-title"><%= link_to "新規登録", new_customer_registration_path %></li>
      </ul>
    </div>
  </div>
<% end %>