<% if customer_signed_in? %>
  <div><%= link_to "HOME", root_path %></div>
  <div><%= link_to "ABOUT", homes_about_path %></div>
  <div><%= link_to "マイページ", customers_path %></div>
  <div><h1>SAGO_PLANTS</h1></div>
  <div><%= link_to "お気に入り", favorites_path %></div>
  <div><%= link_to "カート", cart_items_path %></div>
  <div><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></div>
<% else %>
  <div><%= link_to "HOME", root_path %></div>
  <div><%= link_to "ABOUT", homes_about_path %></div>
  <div><h1>SAGO_PLANTS</h1></div>
  <div><%= link_to "ログイン", new_customer_session_path %></div>
  <div><%= link_to "新規登録", new_customer_registration_path %></div>
<% end %>