<div class="header-item">
  <% if customer_signed_in? %>
    <div>
      <ul class="header-item__icon">
        <li class="header-item__icon--list">
          <%= link_to customers_path do %>
            <i class="fas fa-user"></i>
          <% end %>
        </li>
        <li class="header-item__icon--list">
          <%= link_to favorites_path do %>
            <i class="far fa-star"></i>
          <% end %>
        </li>
        <li class="header-item__icon--list">
          <%= link_to cart_items_path do %>
            <i class="fas fa-shopping-cart"></i>
          <% end %>
        </li>
      </ul>
      <div class="header-item__image"><%= image_tag asset_path('header.jpg'), class: "header-item__image--item" %></div>
      <div>
        <ul class="header-item__list">
          <li class="header-item__list--title"><%= link_to "HOME", root_path, class: "header-item__action" %></li>
          <li class="header-item__list--title"><%= link_to "ABOUT", homes_about_path, class: "header-item__action" %></li>
          <li class="header-item__list--title"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "header-item__action" %></li>
        </ul>
      </div>
    </div>
  <% else %>
    <div class="header-item__image"><%= image_tag asset_path('header.jpg'), class: "header-item__image--item" %></div>
    <div>
      <ul class="header-item__list">
        <li class="header-item__list--title"><%= link_to "HOME", root_path, class: "header-item__action" %></li>
        <li class="header-item__list--title"><%= link_to "ABOUT", homes_about_path, class: "header-item__action" %></li>
        <li class="header-item__list--title"><%= link_to "ログイン", new_customer_session_path, class: "header-item__action" %></li>
        <li class="header-item__list--title"><%= link_to "新規登録", new_customer_registration_path, class: "header-item__action" %></li>
      </ul>
    </div>
  <% end %>
</div>